@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 

:root {
    --main-bg-color: #1d6ded;
  }
  
*{
    margin: 0;
    padding: 0;
}
header{ 
    /* height: 68px; now header is flexible*/
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 113px;
    padding: 0 33px;
}
nav ul{
    height: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 26px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    /* color: rgb(34, 86, 199); */
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 32px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.slider{
    /* display: flex;
    justify-content: center; */
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    margin: auto;
    max-width: 91vw;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-item{
    display: inline-flex;
    width: 12vw;
    justify-content: center;
    flex-direction: column;
    margin: 0 22px;
}
.card h2{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    min-height: calc(100vh - 68px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}